{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<!-- Write content in here -->

<div class="container-fluid">
    <div class="row">

        <!-- left side -->
        <div class="col-lg-8">

            <!-- Market chart -->
            <div class="container">
            <h2>Market</h2>
            <figure class="highcharts-figure">
            <div id="container"></div>
            </figure>
            </div>

            <!-- Portfolio table -->
            <div class="container">
            <h2>My Portfolio</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Cash</th>
                    <th>Shares</th>
                    <th>Share Value</th>
                    <th>Total</th>
                    <th>P&L</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="table_cash"></td>
                    <td id="table_shares"></td>
                    <td id="table_share_value"></td>
                    <td id="table_total"></td>
                    <td id="table_pandl"></td>
                </tr>
            </tbody>
            </table>
            </div>
        </div>

        <!-- right side -->
        <div style="background-color:rgb(240,240,240)" class="col-lg-4">

            <div class="container-fluid mt-4">
                    <div class="col-sm">
                        <button onclick="pause_sim()" id="pause_btn" type="button" class="btn btn-info btn-block">⏸ Pause</button>
                    </div>
                </div>

            <!-- Trade buttons -->
<!--            <div class="container-fluid">-->
<!--                <h2>Trade</h2>-->
<!--                <div class="row">-->
<!--                    <div class="col-sm">-->
<!--                    <button onclick="buy_shares(this.value)" value="1" id="trade_btn_buy_s" type="button" class="btn btn-primary btn-block">Buy 1</button>-->
<!--                    </div>-->
<!--                    <div class="col-sm">-->
<!--                    <button onclick="buy_shares(this.value)" value="10" id="trade_btn_buy_m" type="button" class="btn btn-primary btn-block">Buy 10</button>-->
<!--                    </div>-->
<!--                    <div class="col-sm">-->
<!--                    <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_l" type="button" class="btn btn-primary btn-block">Buy 50</button>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="container-fluid">-->
<!--                <h4 class="text-center">Price:</h4>-->
<!--                <h1 class="text-center" id="trade_price"></h1>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-sm">-->
<!--                    <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_s" type="button" class="btn btn-danger btn-block">Sell 1</button>-->
<!--                    </div>-->
<!--                    <div class="col-sm">-->
<!--                    <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_m" type="button" class="btn btn-danger btn-block">Sell 10</button>-->
<!--                    </div>-->
<!--                    <div class="col-sm">-->
<!--                    <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_l" type="button" class="btn btn-danger btn-block">Sell 50</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="container-fluid mt-4">
                <h2>Trade</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Share</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="table_share_name_1">Share 1</td>
                        <td id="table_share_price_1"></td>
                        <td id="table_share_value_1">
                            <input type="number" class="form-control" id="trude_input_1" maxlength="5">
                        </td>
                        <td id="table_share_action_1">
                            <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_1" type="button" class="btn btn-outline-primary btn-block">Buy</button>
                            <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_1" type="button" class="btn btn-outline-danger btn-block">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td id="table_share_name_2">Share 2</td>
                        <td id="table_share_price_2"></td>
                        <td id="table_share_value_2">
                            <input type="number" class="form-control" id="trude_input_2" maxlength="5">
                        </td>
                        <td id="table_share_action_2">
                            <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_2" type="button" class="btn btn-outline-primary btn-block">Buy</button>
                            <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_2" type="button" class="btn btn-outline-danger btn-block">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td id="table_share_name_3">Share 3</td>
                        <td id="table_share_price_3"></td>
                        <td id="table_share_value_3">
                            <input type="number" class="form-control" id="trude_input_3" maxlength="5">
                        </td>
                        <td id="table_share_action_3">
                            <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_3" type="button" class="btn btn-outline-primary btn-block">Buy</button>
                            <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_3" type="button" class="btn btn-outline-danger btn-block">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td id="table_share_name_4">Share 4</td>
                        <td id="table_share_price_4"></td>
                        <td id="table_share_value_4">
                            <input type="number" class="form-control" id="trude_input_4" maxlength="5">
                        </td>
                        <td id="table_share_action_4">
                            <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_4" type="button" class="btn btn-outline-primary btn-block">Buy</button>
                            <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_4" type="button" class="btn btn-outline-danger btn-block">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td id="table_share_name_5">Share 5</td>
                        <td id="table_share_price_5"></td>
                        <td id="table_share_value_5">
                            <input type="number" class="form-control" id="trude_input_5" maxlength="5">
                        </td>
                        <td id="table_share_action_5">
                            <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_5" type="button" class="btn btn-outline-primary btn-block">Buy</button>
                            <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_5" type="button" class="btn btn-outline-danger btn-block">Sell</button>
                        </td>
                    </tr>
                    <tr>
                        <td id="table_share_name_6">Share 6</td>
                        <td id="table_share_price_6"></td>
                        <td id="table_share_value_6">
                            <input type="number" class="form-control" id="trude_input_6" maxlength="5">
                        </td>
                        <td id="table_share_action_6">
                            <button onclick="buy_shares(this.value)" value="50" id="trade_btn_buy_6" type="button" class="btn btn-outline-primary btn-block">Buy</button>
                            <button onclick="sell_shares(this.value)" value="1" id="trade_btn_sell_6" type="button" class="btn btn-outline-danger btn-block">Sell</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% next_button %}

{% endblock %}

<!-- Write scripts in here -->
{% block scripts %}

<!-- Load javascripts from Content Delivery Network -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<!-- Load custom javascripts from static files -->
<script src="{% static "ZTS/chart.js" %}"></script>
<script src="{% static "ZTS/trade_controller.js" %}"></script>
{% endblock %}

{% block styles %}
{% endblock %}
